@font-face {
    font-family: attractive;
    src: url("../fonts/Attractive-Regular.ttf");
}

@font-face {
    font-family: knock-out;
    src: url("../fonts/Knockout\ HTF29JuniorLiteweight\ Regular.otf");
}

@font-face {
    font-family: typeka;
    src: url("../fonts/Typeka.otf");
}

h3 {
    font-family: attractive;
}

h2 {
    font-family: attractive;
}

h1 {
    font-family: knock-out;
}

body {
    font-family: attractive;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

loading {
    font-family: typeka;
}

.completedDate {
    background-color: #c82027;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    /* background-color: #00acb0; */
    padding: 10px;
    color: #ece7e7;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  /* background-color: #00acb0; */
  width: 100%;
  border-radius: 0px;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

} */

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

  .lunch-appear {
    opacity: 0.01;
  }
  
  .lunch-appear.lunch-appear-active {
    opacity: 1;
    transition: opacity 1.5s ease-in;
  }

  .life-appear {
    opacity: 0.01;
  }
  
  .life-appear.life-appear-active {
    opacity: 1;
    transition: opacity 1.5s ease-in;
  }

/* 
  .loading-animation {
    transform: translate3d(20px, 20px, 0px);
  } */

  /* .pictureContainer img {
    position: relative;
    top: 0px;
    transition: transform .2s ease-in-out;
}

.pictureContainer img:hover {
    transform: translate3d(0px, -150px, 0px);
} */

@keyframes slideInFromBottom {
    100% {
      transform: translateY(0);
    }
    0% {
      transform: translateY(100%);
    }
  }
  
  .headerAnimation {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 2s ease-out 0s 1 slideInFromBottom;
    
    /* background: #333;
    padding: 30px; */
  }
  