@font-face {
    font-family: attractive;
    src: url("../fonts/Attractive-Regular.ttf");
}

@font-face {
    font-family: knock-out;
    src: url("../fonts/Knockout\ HTF29JuniorLiteweight\ Regular.otf");
}

h3 {
    font-family: attractive;
}

h2 {
    font-family: attractive;
}

h1 {
    font-family: knock-out;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    /* background-color: #00acb0; */
    padding: 10px;
    color: #ece7e7;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  /* background-color: #00acb0; */
  width: 100%;
  border-radius: 0px;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

} */

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
